.a {
  margin: 10px;
  display: flex;
}

.aa {
  padding: 10px;
  flex-basis: 700px;
}
.ab {
  padding: 10px;
  flex-basis: 300px;
}

.aaa {
  margin: 10px 30px 10px 40px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: stretch;
}

.aaaa{
    /* height: 100px; */
    flex-basis: 100px;
    padding:10px;
}
.aaab{
    flex-basis: 400px;
}