.container{
    margin: 10px, 0px;
    text-decoration-style: none;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8); */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}


.productImage{
    height: 70vh;
    padding: 20px;
}

.productDetails{
    margin:30px 20px;

}   
.addtocart{
    background-color: #ff9f00;
    border: none;
    height: 30px;
   flex: auto;
    margin-right: 20px;
}
.movetocart{
    background-color: #fb641b;
    border: none;
    height: 30px;
    flex:auto;
}

